# =====================
# .NET / C#
# =====================
bin/
obj/
**/bin/
**/obj/

# =====================
# Visual Studio
# =====================
.vs/
**/.vs/
*.user
*.suo
*.cache
*.log

# =====================
# Rider / VS Code
# =====================
.idea/
.vscode/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
